:root{
    --primary-color: #1bd914; 
    --background-color: #04770e; 
  }
  table td span.success {
    background-color: var(--primary-color);
    border-radius: 5px;
    color: #ffff;
  }
  .order-container{
    margin-top: -50px;
  }
  .user-order{
    border-bottom: 1px solid #ccc;
    color: var(--primary-color);
    font-size: 25px;
    font-weight: bolder;
  }
  .orders_loader{
    width: 300px;
  }