.profile_wrapper{
    width: 80%;
    justify-content: center;
    margin-left: 11%;
}

@media screen and (max-width:768px) {
    .profile_wrapper{
        width: 100%;
        margin-left:0px;
    }
    .pro_email{
        word-break: break-word;
        overflow: hidden; 
        text-overflow: ellipsis; 
        -webkit-line-clamp: 1; 
        display: -webkit-box; 
        -webkit-box-orient: vertical; 
    }
}