:root{
    --primary-color: #1bd914; 
    --background-color: #04770e; 
  }

.card-header{
background-color: var(--background-color);
}
.cart_zero{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 100px;
}
.cart_zero img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
}